body {
  background: rgb(101,126,161);
  background: linear-gradient(125deg, rgba(101,126,161,1) 0%, rgba(163,180,200,1) 50%, rgba(204,214,223,1) 100%);
  /*font-family: 'Rubik', sans-serif;*/
  font-family: "Sawarabi Mincho";

  font-color: #003554;
}

h1, h2 {
  /*font-family: "Sawarabi Mincho";*/
  /*font-family: "Noto Sans JP";*/
  /*font-family: 'Poiret One', cursive;*/
  /*font-family: "Hannari";*/
  color: #003554;
}

h1 {
  font-size: 40px;
  line-height: 20px;
}

p {
  color: #005080;
  font-size: 16px;
}

a {
  color: #d190b7;
  text-decoration: none;
}
a:hover {
  color: #95818D;
}

.button-pink {
  padding: 12px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #d190b7;
}
.button-pink:hover {
  color: #d190b7;
  background-color: #fff7fc;
}


.icon_list {
  list-style: none;
  padding-left: 0px;
}

.icon_list > li {
  display: inline-block;
  padding: 0px 20px;
}

.sm-pink {
  font-size: 50px;
  transition: transform 5s;
}

.sm-pink:hover {
  transform: rotate(1080deg);
}

.embedded-video {
  margin: 30px 30px;
}

.card-white {
  background-color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid lightgrey;
  text-align: center;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card-white {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card-white {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card-white {
    width: 300px;
  }
}

#img-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 20%;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
}




